@font-face {
  font-family: "ClarendonRegular";
  src: url("../fonts/Clarendon Regular.otf"); }

.progress-indicator {
  position: fixed;
  bottom: -15px;
  right: -10px;
  width: 100px;
  height: 100px; }

.progress-count {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 100px;
  color: #000000;
  font-size: 0.8em; }

svg {
  position: absolute; }

circle {
  fill: #f9f8f5; }

svg .animated-circle {
  fill: transparent;
  stroke-width: 5px;
  stroke: #1087a0;
  stroke-dasharray: 126;
  stroke-dashoffset: 126; }

@media only screen and (max-width: 992px) {
  .hidden_nav {
    width: 70% !important; } }

@media only screen and (max-width: 768px) {
  .button {
    background-color: #fff !important;
    position: fixed;
    bottom: 0;
    right: -20px !important; }
  .logo_image {
    float: none !important;
    display: inline-block;
    text-align: center;
    margin: 18px 27%; }
  .display_none_header {
    display: none; }
  .navigation_div i,
  .navigation_div b {
    float: left;
    font-size: 0.8em; }
  aside.five H2 {
    margin-bottom: 10px;
    font-size: 1.5em !important;
    font-weight: 500; }
  aside.five p {
    display: none; }
  #links_aside {
    display: inline-block !important; }
  .hidden_nav {
    width: 100% !important; } }

@media only screen and (max-width: 480px) {
  aside.five h2 {
    font-size: 1.2em !important; }
  aside.five {
    height: 180px !important;
    width: 63% !important; }
  nav {
    left: 35px !important; }
  .img_wrap {
    width: 33% !important;
    height: 180px !important; } }

@media only screen and (min-width: 768px) {
  .button {
    top: 0;
    right: 0;
    position: fixed; }
  .hidden_nav {
    width: 100%; } }

* {
  padding: 0;
  margin: 0; }

body {
  letter-spacing: 0.4px;
  font: 14px Arial, OpenSans;
  color: #fff;
  position: relative; }

.popup {
  background-color: #000000;
  background: #3c3c3c url(../img/background_2.png) no-repeat center center fixed;
  background-size: cover; }

header {
  position: fixed;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  top: 0;
  margin-top: 0;
  height: 70px;
  background-color: #fff !important;
  z-index: 1; }
  header img {
    height: 30px;
    margin: 18px;
    float: left; }

.button {
  cursor: pointer;
  outline: none;
  float: right;
  margin: 15px;
  margin-right: 40px;
  height: 45px;
  width: 45px;
  background: url(../img/button_plus.png) no-repeat 49% 49%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #ccc; }

.button:hover {
  background: url(../img/button_plus.png) no-repeat 49% 49% #f4f4f4; }

.button:active {
  background: url(../img/button_plus.png) no-repeat 49% 49% #d0d0d0; }

main {
  max-width: 72em;
  margin: 0 auto; }

nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  left: -23px;
  width: 100%;
  display: inline-block;
  margin-top: 110px;
  margin-bottom: 30px;
  text-align: center; }
  nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 15px;
    margin-right: 10px; }
  nav ul li.special_li {
    cursor: pointer;
    -webkit-border-radius: 20px;
            border-radius: 20px; }
    nav ul li.special_li a {
      text-decoration: none;
      font-weight: 400;
      color: #fff; }
  nav ul li.special_li:hover {
    background-color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  nav ul li.special_li:hover a {
    color: #000;
    -webkit-transition: 0.4s;
    transition: 0.4s; }

.navigation {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  top: -95px;
  z-index: 2; }
  .navigation li {
    border: 1px solid rgba(255, 255, 255, 0); }
  .navigation li.special_li {
    border: 1px solid #f1eee7; }
  .navigation li, .navigation a {
    color: #000 !important;
    z-index: 2; }
  .navigation .active {
    background-color: #f1eee7; }

.navigation:hover ul li.special_li:hover {
  background-color: #f1eee7;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.navigation:hover ul li.special_li:hover a {
  color: #000;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.active {
  background-color: #fff; }
  .active a {
    color: #000 !important; }

article {
  display: inline-block;
  margin: 0 4%;
  width: 92%;
  padding: 20px 0; }

.add_mergin_top {
  margin-top: 175px !important; }

img.five {
  float: left;
  margin-right: 1%;
  width: 47%; }

aside.five {
  position: relative;
  float: right;
  width: 47%;
  height: 220px;
  margin-left: 1%;
  padding: 1%; }
  aside.five a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    margin-bottom: 15px; }
  aside.five a:hover {
    text-decoration: underline; }
  aside.five h2 {
    margin-bottom: 15px;
    font-size: 1.6em;
    font-weight: 500; }
  aside.five p {
    letter-spacing: 1px;
    font-size: 0.9em; }
  aside.five .links_aside {
    position: absolute;
    bottom: 0;
    font-size: 0.8em; }
    aside.five .links_aside a {
      margin-right: 10px; }
    aside.five .links_aside a:last-child {
      margin-left: 10px; }

.beatween {
  border-bottom: 1px solid rgba(255, 255, 255, 0.21);
  width: 80%;
  position: relative;
  right: -60px; }

.main_article {
  max-width: 60em;
  margin: 6% auto;
  color: #000;
  text-align: center; }
  .main_article h1, .main_article h2 {
    letter-spacing: 1px;
    text-align: center;
    font: 26px "ClarendonRegular";
    max-width: 24em;
    margin: 1% auto; }
  .main_article p {
    text-align: left;
    line-height: 30px;
    color: #828282;
    padding: 0 15px; }

#special_h2 {
  margin-top: -3%; }

.special_i {
  margin: 0 auto;
  width: 10%;
  display: inline-block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 3%; }

.special_p {
  font-weight: 600;
  text-align: center !important;
  color: black !important; }

.navigation_div {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 65px;
  line-height: 65px;
  background-color: #f9f8f5;
  text-align: center;
  color: black;
  letter-spacing: 0;
  border: 2px solid #dad9d6; }

.progress_bar_a {
  position: fixed;
  height: 30px;
  width: 30px;
  display: inline-block; }

.hidden_nav {
  width: 79%;
  left: -59px;
  position: relative; }

.display_none {
  display: none; }

.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

.logo,
.nav-item,
.vertical-align-middle {
  display: inline-block;
  vertical-align: middle; }

.img_wrap {
  width: 47%;
  height: 235px;
  background-image: url(../img/article_first_image.png);
  background-size: cover;
  background-position: center;
  display: inherit; }

.second_img {
  background-image: url(../img/article_second_image.png); }

.third_img {
  background-image: url(../img/article_third_image.png); }
