@media only screen and (max-width : 992px) {
  .hidden_nav{
    width: 70%!important;
  }
}

@media only screen and (max-width : 768px) {
  .button{
    background-color: #fff!important;
    position: fixed;
    bottom: 0;
    right: -20px!important;
  }
  .logo_image{
    float: none!important;
    display: inline-block;
    text-align: center;
    margin: 18px 27%;
  }
  .display_none_header{
    display: none;
  }
  .navigation_div i,
  .navigation_div b{
    float: left;
    font-size: 0.8em;
  }
  aside.five H2 {
    margin-bottom: 10px;
    font-size: 1.5em!important;
    font-weight: 500;
  }
  aside.five p {
    display: none;
  }
  #links_aside{
    display: inline-block!important;
  }
  .hidden_nav{
    width: 100%!important;
  }
}

@media only screen and (max-width : 600px) {
  nav{
  }
}

@media only screen and (max-width : 480px) {
  aside.five h2 {
    font-size: 1.2em!important;
  }
  aside.five{
    height: 180px!important;
    width: 63%!important;
  }
  nav{
    left: 35px!important;
  }
.img_wrap{
    width: 33%!important;
    height: 180px!important;
}

}

@media only screen and (min-width : 768px) {
  .button{
    top: 0;
    right: 0;
    position: fixed;
  }
  .hidden_nav{
    width: 100%
  }
}
