.progress-indicator {
    position: fixed;
    bottom: -15px;
    right: -10px;
    width: 100px;
    height: 100px;
}
.progress-count {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100px;
    color: #000000;
    font-size: 0.8em;
}

svg {
    position: absolute;
}
circle {
    fill: #f9f8f5;
}

svg .animated-circle {
    fill: transparent;
    stroke-width: 5px;
    stroke: #1087a0;
    stroke-dasharray: 126;
    stroke-dashoffset: 126;
}
