
// Susy Grid Config

$susy: (
   columns: 12,
   gutters: 1/5.5,
   container: 1440px,
   math: fluid,
   output: float,
   gutter-position: after,
      debug: (
         inspect: true,
         image: show,
         color: rgba(#373737, 0.5),
         output: overlay,
         toggle: top right,
      )
   );

/* Susy Grid Rules */

.one {
    @include span(1);
    &:last-child {
        @include span(1 last);
    }
}
.two {
    @include span(2);
    &:last-child {
        @include span(2 last);
    }
}
.three {
    @include span(3);
    &:last-child {
        @include span(3 last);
    }
}
.four {
    @include span(4);
    &:last-child {
        @include span(4 last);
    }
}
.five {
    @include span(5);
    &:last-child {
        @include span(5 last);
    }
}
.six {
    @include span(6);
    &:last-child {
        @include span(6 last);
    }
}
.seven {
    @include span(7);
    &:last-child {
        @include span(7 last);
    }
}
.eight {
    @include span(8);
    &:last-child {
        @include span(8 last);
    }
}
.nine {
    @include span(9);
    &:last-child {
        @include span(9 last);
    }
}
.ten {
    @include span(10);
    &:last-child {
        @include span(10 last);
    }
}
.eleven {
    @include span(11);
    &:last-child {
        @include span(11 last);
    }
}
.twelve {
    @include span(12);
}
.grid {
    @include span(12);
}
.eight,
.eleven,
.five,
.four,
.nine,
.one,
.seven,
.six,
.ten,
.three,
.twelve,
.two {
   @include margin-trailer(0.4);
   @include margin-leader(0.4);
    background-color: rgb(0, 0, 0);
}
.main {
    @include container();
    // Using Compass Vertical Rhythm
    @include margin-trailer(2);
    @include margin-leader(2);
    margin: 0 auto;
    @include breakpoint(320px) {
      padding-left: 20px;
      padding-right: 20px;
   }
    @include breakpoint(640px) {
        padding-left: 20px;
        padding-right: 20px;
    }
    @include breakpoint(1440px) {
      padding-left: 95px;
      padding-right: 95px;
   }

}
