@import "../css/fonts"
@import "../css/progress_bar"
@import "../css/media"

*
  padding: 0
  margin: 0

body
  letter-spacing: 0.4px
  font: 14px Arial, OpenSans
  color: #fff
  position: relative

// popup general
.popup
  background-color: #000000
  background: #3c3c3c  url(../img/background_2.png) no-repeat center center fixed
  background-size: cover

//popup header
header
  position: fixed
  width: 100%
  margin-left: 0
  margin-right: 0
  top: 0
  margin-top: 0
  height: 70px
  background-color: #fff!important
  z-index: 1
  img
    height: 30px
    margin: 18px
    float: left

.button
  cursor: pointer
  outline: none
  float: right
  margin: 15px
  margin-right: 40px
  height: 45px
  width: 45px
  background: url(../img/button_plus.png) no-repeat 49% 49%
  border-radius: 50%
  border: 2px solid #ccc
.button:hover
  background: url(../img/button_plus.png) no-repeat 49% 49% rgb(244, 244, 244)
.button:active
  background: url(../img/button_plus.png) no-repeat 49% 49% rgb(208, 208, 208)

main
  max-width: 72em
  margin: 0 auto

// navigation in popup
nav
  box-sizing: border-box
  position: relative
  left: -23px
  width: 100%
  display: inline-block
  margin-top: 110px
  margin-bottom: 30px
  text-align: center
  ul li
    list-style-type: none
    display: inline-block
    padding: 10px 15px
    margin-right: 10px
  ul li.special_li
    cursor: pointer
    border-radius: 20px
    a
      text-decoration: none
      font-weight: 400
      color: #fff
  ul li.special_li:hover
    background-color: #fff
    transition: 0.3s
  ul li.special_li:hover a
      color: #000
      transition: 0.4s

.navigation
  transition: 0.5s
  position: relative
  top: -95px
  z-index: 2
  li
    border: 1px solid rgba(255, 255, 255, 0)
  li.special_li
    border: 1px solid #f1eee7
  li,a
    color: #000!important
    z-index: 2
  .active
    background-color: #f1eee7
.navigation:hover
  ul li.special_li:hover
    background-color: #f1eee7
    transition: 0.3s
  ul li.special_li:hover a
    color: #000
    transition: 0.4s


.active
    background-color: #fff
    a
      color: #000 !important

//popup content
article
  display: inline-block
  margin: 0 4%
  width: 92%
  padding: 20px 0

.add_mergin_top
  margin-top: 175px!important

img.five
  float: left
  margin-right: 1%
  width: 47%

aside.five
  position: relative
  float: right
  width: 47%
  height: 220px
  margin-left: 1%
  padding: 1%
  a
    display: inline-block
    text-decoration: none
    color: #fff
    font-weight: 300
    margin-bottom: 15px
  a:hover
    text-decoration: underline
  h2
    margin-bottom: 15px
    font-size: 1.6em
    font-weight: 500
  p
    letter-spacing: 1px
    font-size: 0.9em
  .links_aside
    position: absolute
    bottom: 0
    font-size: 0.8em
    a
      margin-right: 10px
    a:last-child
      margin-left: 10px

.beatween
  border-bottom: 1px solid rgba(255, 255, 255, 0.21)
  width: 80%
  position: relative
  right: -60px

//article
.main_article
  max-width: 60em
  margin: 6% auto
  color: #000
  text-align: center
  h1, h2
    letter-spacing: 1px
    text-align: center
    font: 26px "ClarendonRegular"
    max-width: 24em
    margin: 1% auto
  p
    text-align: left
    line-height: 30px
    color: rgba(130, 130, 130, 1)
    padding: 0 15px

#special_h2
  margin-top: -3%


.special_i
    margin: 0 auto
    width: 10%
    display: inline-block
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)
    margin: 3%

.special_p
  font-weight: 600
  text-align: center!important
  color: rgb(0, 0, 0)!important

.navigation_div
  width: 100%
  position: fixed
  bottom: 0
  height: 65px
  line-height: 65px
  background-color: rgb(249, 248, 245)
  text-align: center
  color: black
  letter-spacing: 0
  border: 2px solid rgb(218, 217, 214)

.progress_bar_a
  position: fixed
  height: 30px
  width: 30px
  display: inline-block

.hidden_nav
  width: 79%
  left: -59px
  position: relative

.display_none
  display: none

.scroll
  white-space: nowrap
  overflow-x: auto
  -webkit-overflow-scrolling: touch
  -ms-overflow-style: -ms-autohiding-scrollbar

.logo,
.nav-item,
.vertical-align-middle
  display: inline-block
  vertical-align: middle

.img_wrap
  width: 47%
  height: 235px
  background-image: url(../img/article_first_image.png)
  background-size: cover
  background-position: center
  display: inherit

.second_img
  background-image: url(../img/article_second_image.png)

.third_img
  background-image: url(../img/article_third_image.png)
